@import url("reset.css");

.titel{
    color: blue;
    font-size: 40px;
}

div{
    color: orange;
}

.subtitle{
    color: brown;
    font-size: 25px;
    margin: 20px 0 20px 0;
}

.list{
    color: red;
    margin-top: 10px;
    font-size: 20px;
}

.text{
    color: blue;
}