@import url("reset.css");

h1{
    color: blue;
    font-size: 40px;
}
#links{
    color: gray;
}

[class*="__container"]{
    color: orange;
}

.main__container .text {
    color: blue;
}

.main__container + p {
    color: orangered;
}

.subtitle{
    color: brown;
    font-size: 25px;
    margin: 20px 0 20px 0;
}

.list ~ li{
    color: red;
}

.list > li {
    color: red;
    margin-top: 10px;
    font-size: 20px;
}

.list__element * {
    color: blue;
}

